{% extends 'homeworkapp_1/base.html' %}

{% block title %} О себе {% endblock %}

{% block content %}
<div>
    <h1>Страница о себе</h1>
    <div class="text">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ratione, corporis doloribus cumque at,
            aspernatur culpa illo cum, sunt voluptates quam nemo incidunt dolore error voluptate aliquam harum? Eius,
            exercitationem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolorum.
        </p>
    </div>
</div>

<br>
{% endblock %}